<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--PRODUCCION-->
    <!--<add name="CallCenterConnectionString" connectionString="Data Source=SERVER8;Database=Atensoli;User ID=sa; password =vv2832f1" providerName="System.Data.SqlClient" />-->
    <!--**************-->
    <!--DESARROLLO CASA-->
    <!-- <add name="CallCenterConnectionString" connectionString="Data Source=GTI-DDM-4\SQLEXPRESS;Database=CajaDeAhorro;Integrated Security=True" providerName="System.Data.SqlClient" /> -->
    <!--**************-->
    <!--GEAR HOST-->
    <add name="CallCenterConnectionString" connectionString="Data Source=mssql7.gear.host;Database=cajadeahorros;User ID=cajadeahorros; password = Kh2v356dw?_L"/>
    <!--**************-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!--PRODUCCION-->
    <!--<add key="connectionString" value="Data Source=SERVER8;Database=Atensoli;User ID=sa; password =vv2832f1" />-->
    <!--DESARROLLO CASA-->
    <!--<add key="connectionString" value="Data Source=GTI-DDM-4\SQLEXPRESS;Database=CajaDeAhorro;Integrated Security=True" />-->
    <!--**************-->
    <!--GEAR HOST-->
    <add key="connectionString" value="Data Source=mssql7.gear.host;Database=cajadeahorros;User ID=cajadeahorros; password = Kh2v356dw?_L"/>
    <!--**************-->
  </appSettings>
</configuration>